.menu{
    flex-grow:              1;
    border-radius: 			1.5em;
    box-shadow: 			0 0 0 2pt #000;
    max-width:				55em;
    max-height:				10em;

    margin:					1em 2em 0 2em;
}
.menuitem{
    flex-grow:				1;
    height:                 100%;
    box-shadow:				0 0 0.7em 0.2em #000 inset;
    object-fit: contain;
}
.menuitem:first-child{
    flex-grow:				2;
    border-radius:			1.5em 0 0 1.5em;
}
.menuitem:last-child{
    flex-grow:				2;
    border-radius:			0 1.5em 1.5em 0;
}
.menuitem-link{
    width:                  100%;
    height:                 100%;
    object-fit: 			contain;
}
.menuitem-link-icon{
    width: 					auto;
    height : 				auto;
    max-height: 			100%;
    max-width: 				100%;
    object-fit: 			contain;
}
.menuitem:hover .menuitem-link{
    filter:					drop-shadow(0.125em 0.125em #ff0);
}
.separator{
    width:					0.5em;
    background:				#000;
}