
*{
    padding: 				            0;
    margin: 				            0;
    overflow:				            hidden;
    position:                           relative;
}
body{
    margin: 				            0;
    height:					            100%;
    height:					            100vh;

    --header-color:                     #36b388;
    --header-height:                    60px;

    --footer-color:                     #9F2C2D;
    --footer-height:                    60px;

    --base-background-text:             #1db75f;
    --base-hover-background-text:       #1dd76d;
    --base-disabled-background-text:    rgba(150,150,150,1);

    --base-click-background-text: #0d8534;
    --base-click-blink:                 rgba(255, 229, 8, 0.8);

    --shadow-1:                         0px  5px 10px  3px rgba(0, 0, 0, 0.6);
    --shadow-2:                         0px  7px 15px  7px rgba(0, 0, 0, 0.6);
    --shadow-3:                         0px  9px 15px  7px rgba(0, 0, 0, 0.6);
    --shadow-4:                         0px 11px 15px  7px rgba(0, 0, 0, 0.6);
}
.root{
    width:					            100%;

    overflow-y:				            auto;
    display:				            flex;
    flex-flow:				            column nowrap;
    align-items:			            center;

}
.header{
    width:                              100%;
    height:                             var(--header-height);

    background:                         var(--header-color);

    display:                            flex;
    flex-flow:                          row nowrap;

    position:                           fixed;
    top:                                0;
    left:                               0;
    z-index:                            100;
}
.header .logo-link{
    max-width:                          100px;
    max-height:                         var(--header-height);

    display:                            flex;
    flex-flow:                          row nowrap;

    margin-left:                        20px;
}
.header .logo-link .logo{
    width:                              100%;
    object-fit:                         contain;
}
.header .mid-box{
    flex-grow:                          1;
    max-height:                         var(--header-height);
}
.header .links{
    max-height:                         var(--header-height);


    display:                            flex;
    flex-flow:                          row nowrap;
    align-items:                        center;
    justify-content:                    center;

}
.links .link{
    min-width:                          40px;
    height:                             100%;

    color:                              #000;
    font-size:                          18px;
    font-style:                         normal;
    font-family:                        "Arial";
    font-stretch:                       semi-expanded;
    text-align:                         center;
    text-decoration:                    none;

    padding:                            0 10px;
}
.links .link:hover{
    background:                         var(--base-hover-background-text);
}
.main{
    width:                              100%;

    margin-top:                         var(--header-height);

    display:				            flex;
    flex-flow:				            row nowrap;
    justify-content:                    center;
    align-items:			            center;

}
.footer{
    width:                              100%;
    height:                             var(--footer-height);

    background:                         var(--footer-color);
}